a {
	color: inherit;
}

a:hover {
	color: #f0606b;
}

body {
	background: #181d24;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12pt;
	margin: 3.5em 0 0;
}

footer {
	background: #2d3540;
	font-size: 0.75em;
	margin-top: 2em;
	padding: 2em 0;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

header {
	background: #111;
	height: 2.5em;
	left: 0;
	padding: 0.5em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

	header h1,
	header p {
		display: inline;
		margin: 0;
	}

	header .controls {
		position: absolute;
		right: 1em;
		top: 1em;
	}

	header .fa {
		color: #f0606b;
	}

	header .lead {
		color: #888;
	}

select {
	font-size: inherit;
}

.controls {
	font-size: 1.25em;
}

	.controls .control {
		display: inline;
	}

		.controls .control label {
			display: none;
		}

	.controls .filter-date:before,
	.controls .filter-genre:before,
	.controls .filter-location:before,
	.controls .sort:before {
		color: #888;
		font-family: FontAwesome;
		display: inline-block;
		text-align: center;
		width: 1em;
	}

	.controls .filter-date:before {
			content: "\f073";
		}

	.controls .filter-genre:before {
		content: "\f001";
	}

	.controls .filter-location:before {
		content: "\f041";
	}

	.controls .sort:before {
		content: "\f160";
	}

.festival {
	background: none center center;
	background-size: cover;
	overflow: hidden;
	min-height: 12em;
	text-shadow: 1px 1px 3px black;
}

	.festival > * {
		opacity: 0;
		transition: opacity 0.2s;
	}

	.festival:hover > * {
		opacity: 0.9;
	}

	.festival .meta {
		bottom: 0;
		position: absolute;
	}

		.festival .meta a {
			text-decoration: none;
		}

		.festival .meta dd {
			margin: 0.5em 0;
		}

		.festival .meta dt {
			display: none;
		}

		.festival .meta .date:before,
		.festival .meta .genre:before,
		.festival .meta .location:before,
		.festival .meta .website:before {
			color: #888;
			font-family: FontAwesome;
			display: inline-block;
			margin-right: 0.5em;
			text-align: center;
			width: 1em;
		}

		.festival .meta .date:before {
			content: "\f073";
		}

		.festival .meta .genre:before {
			content: "\f001";
		}

		.festival .meta .location:before {
			content: "\f041";
		}

		.festival .meta .website:before {
			content: "\f0ac";
		}

	.festival .name {
		font-size: 2em;
	}

.festival.no-image {
	text-shadow: none;
}

	.festival.no-image > * {
		opacity: 0.5;
	}

	.festival.no-image:hover > * {
		opacity: 0.9;
	}

.festivals {
	min-height: 400px;
}

	.festivals h3 {
		margin: 0 0 0.25em;
	}

	.festivals .festival {
		padding: 1em;
		position: relative;
	}

	.festivals .loading {
		background: url('../images/ajax-loader.gif');
		height: 32px;
		left: 50%;
		margin: -16px;
		position: absolute;
		top: 50%;
		width: 32px;
	}

	.festivals .item {
		width: 20%;
	}

@media screen and (max-width:1024px) {
	.festivals .item {
		width: 25%;
	}
}

@media screen and (max-width:920px) {
	body {
		margin-top: 0;
	}

	header {
		height: auto;
		position: static;
	}

	header .controls {
		margin: 0.5em 0;
		position: static;
	}
}

@media screen and (max-width:768px) {
	.festivals .item {
		width: 33.3%;
	}
}

@media screen and (max-width:620px) {
	.festivals .item {
		width: 50%;
	}
}

@media screen and (max-width:535px) {
	header h1,
	header p {
		display: block;
		margin: 0;
	}

	.controls .control {
		display: block;
	}
}

@media screen and (max-width:480px) {
	.festivals .item {
		width: 100%;
	}
}
