body {
	color: #222;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin: 72px 0 1em;
}

footer {
	font-size: 0.75em;
	text-align: center;
}

header {
	background: #333;
	color: #ddd;
	left: 0;
	padding: 0.5em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

	header h1,
	header p {
		font-weight: normal;
		margin: 0;
	}

	header .filters {
		position: absolute;
		right: 0;
		top: 0;
	}

.festivals {}

	.festivals h3 {
		margin: 0 0 0.25em;
	}

	.festivals .festival {
		background: #eee;
		padding: 1em;
		position: relative;
	}

		.festivals .festival .meta {
			bottom: 0;
			position: absolute;
		}

	.festivals .loading {
		background: url('../images/ajax-loader.gif');
		height: 32px;
		left: 50%;
		margin: -16px;
		position: absolute;
		top: 50%;
		width: 32px;
	}

	.festivals .item {
		width: 20%;
	}
