body {
	color: #222;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
}

footer {
	font-size: 0.75em;
	text-align: center;
}

header {
	background: #333;
	color: #ddd;
	padding: 0.5em;
}

	header h1,
	header p {
		font-weight: normal;
		margin: 0;
	}

.festivals {}

	.festivals h3 {
		margin: 0 0 0.25em;
	}

	.festivals .festival {
		background: #eee;
		padding: 1em;
		position: relative;
	}

		.festivals .festival .meta {
			bottom: 0;
			position: absolute;
		}

	.festivals .loading {
		background: url('../images/ajax-loader.gif');
		height: 32px;
		margin: 3em auto;
		width: 32px;
	}

	.festivals .item {
		width: 20%;
	}
